/* the props */
@import "open-props/style";
@import "open-props/fonts";
@import "open-props/animations";

.fade-in {
    animation: var(--animation-fade-in) forwards;
  }
  
.font-size-8 {
    font-size: var(--font-size-8);
}

.shake-in {
  animation:
    var(--animation-shake-y),
    var(--animation-fade-in),
    var(--animation-slide-in-left);
}