---
import { getRootPage } from '../lib/fetchPages.js';
import Editor from '../components/Editor.jsx';

const data = await getRootPage();
 
---

<div class="overflow-hidden">
  <Editor data={data.data} />
</div>
