---
import { getRootPage } from '../lib/fetchPages.js';
import Puck from '../components/Puck.jsx';
//import '../styles/global.css';

const data = await getRootPage();
---

<body>
    <div>
      <Puck data={data.data} />
    </div>
</body>
