---
import { getRootPage } from '../lib/fetchPages.js';
import Puck from '../components/Puck.jsx';

const data = await getRootPage();
 
---

<div class="overflow-hidden">
  <Puck data={data.data} />
</div>

<script src="https://cdn.jsdelivr.net/npm/@cap.js/widget"></script>