---
import { getRootPage } from '../lib/fetchPages.js';
import Puck from '../components/Puck.jsx';
import '../styles/global.css';

const data = await getRootPage();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Bizarre Belt</title>
    <meta name="description" content="Bizarre Belt - Your creative destination" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="min-h-screen bg-white dark:bg-gray-900">
    <div class="container mx-auto px-4">
      <Puck data={data.data} />
    </div>
  </body>
</html>
