---
import Editor from '../components/Editor.jsx';
import { getRootPage } from '../lib/fetchPages.js';

const data = await getRootPage();
---

<div class="overflow-hidden">
<Editor client:only="react" data={data.data} />
</div>

<script src="https://cdn.jsdelivr.net/npm/@cap.js/widget" defer loading="lazy"></script>
